In [1]:
import pandas as pd
from datetime import datetime
current_dateTime = datetime.now()

In [2]:
import datetime
date_end = datetime.datetime(2023, 12, 31, 18, 0)
date_ = datetime.datetime(2023, 7, 27, 7, 0)

In [3]:
date_

datetime.datetime(2023, 7, 27, 7, 0)

In [4]:
current_dateTime

datetime.datetime(2023, 8, 21, 23, 58, 52, 75977)

In [5]:
print(current_dateTime.year)
print(current_dateTime.month)
print(current_dateTime.day)

2023
8
21

In [6]:
data = {
    "account_id":        [503466128614,503466128613,503466128614,503466128614],
    "user_profile_name": ["usuario1", "usuario2", "usuario3", "usuario4"],
    "instance":         ["ml-m5-24xl","ml-m5-16xl","ml-m5-4xla","ml-m5-4xlarge"],
    "dias_ligadas":      [264, 331, 299, 279],
    "app_raw":           ["mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d","ml-m5-4xla-contain-5fc727d0847d","ml-m5-4xla-lcc-contain-78ghy7d0847d","mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d"],
    "custo ($)":         [55839.168, 46671.0000, 12400.128,9836.424]
}

In [7]:
df_27 = pd.DataFrame(data)

In [8]:
df_27["date"] = date_

In [9]:
data_31 = {
    "account_id":        [503466128614,503466128614,503466128614],
    "user_profile_name": ["usuario1", "usuario3", "usuario7"],
    "instance":         ["ml-m5-24xl","ml-m5-4xla","ml-m5-4xlargea"],
    "dias_ligadas":      [267, 304, 13],
    "app_raw":           ["mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d","ml-m5-4xla-lcc-contain-78ghy7d0847d","mlops-ubunt-ml-m5-24xla-lcc-contain-4c727d0847d"],
    "custo ($)":         [55839.168, 12400.128,9836.424]
}

In [10]:
df_31 = pd.DataFrame(data_31)
date_31 = datetime.datetime(2023, 7, 31, 7, 0)

In [11]:
df_31["date"] = date_31

In [12]:
lst = []
for index, row in df_31.iterrows():
    newline = {
                "account_id": row["account_id"],
                "user_profile_name": row["user_profile_name"],
                "instance": row["instance"],
                "dias_ligadas": row["dias_ligadas"],
                "app_raw": row["app_raw"],
                "custo ($)": row["custo ($)"],
                "date": row["date"]
               }
    lst.append(newline)

In [13]:
df_extended = pd.DataFrame(lst, columns=['account_id', 'user_profile_name', 'instance','dias_ligadas','app_raw','custo ($)','date'])

In [14]:
df_extended

,account_id,user_profile_name,instance,dias_ligadas,app_raw,custo ($),date
0,503466128614,usuario1,ml-m5-24xl,267,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-31 07:00:00
1,503466128614,usuario3,ml-m5-4xla,304,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-31 07:00:00
2,503466128614,usuario7,ml-m5-4xlargea,13,mlops-ubunt-ml-m5-24xla-lcc-contain-4c727d0847d,9836.424,2023-07-31 07:00:00

In [15]:
df_27

,account_id,user_profile_name,instance,dias_ligadas,app_raw,custo ($),date
0,503466128614,usuario1,ml-m5-24xl,264,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-27 07:00:00
1,503466128613,usuario2,ml-m5-16xl,331,ml-m5-4xla-contain-5fc727d0847d,46671.000,2023-07-27 07:00:00
2,503466128614,usuario3,ml-m5-4xla,299,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-27 07:00:00
3,503466128614,usuario4,ml-m5-4xlarge,279,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,9836.424,2023-07-27 07:00:00

In [16]:
df_out = pd.concat([df_27, df_extended])

In [19]:
df_out.head(10)

,account_id,user_profile_name,instance,dias_ligadas,app_raw,custo ($),date
0,503466128614,usuario1,ml-m5-24xl,264,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-27 07:00:00
1,503466128613,usuario2,ml-m5-16xl,331,ml-m5-4xla-contain-5fc727d0847d,46671.000,2023-07-27 07:00:00
2,503466128614,usuario3,ml-m5-4xla,299,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-27 07:00:00
3,503466128614,usuario4,ml-m5-4xlarge,279,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,9836.424,2023-07-27 07:00:00
0,503466128614,usuario1,ml-m5-24xl,267,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-31 07:00:00
1,503466128614,usuario3,ml-m5-4xla,304,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-31 07:00:00
2,503466128614,usuario7,ml-m5-4xlargea,13,mlops-ubunt-ml-m5-24xla-lcc-contain-4c727d0847d,9836.424,2023-07-31 07:00:00

In [20]:
df_out = df_out.sort_values(by=['user_profile_name','date'],ignore_index=True)

In [21]:
df_out.head(10)

,account_id,user_profile_name,instance,dias_ligadas,app_raw,custo ($),date
0,503466128614,usuario1,ml-m5-24xl,264,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-27 07:00:00
1,503466128614,usuario1,ml-m5-24xl,267,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-31 07:00:00
2,503466128613,usuario2,ml-m5-16xl,331,ml-m5-4xla-contain-5fc727d0847d,46671.000,2023-07-27 07:00:00
3,503466128614,usuario3,ml-m5-4xla,299,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-27 07:00:00
4,503466128614,usuario3,ml-m5-4xla,304,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-31 07:00:00
5,503466128614,usuario4,ml-m5-4xlarge,279,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,9836.424,2023-07-27 07:00:00
6,503466128614,usuario7,ml-m5-4xlargea,13,mlops-ubunt-ml-m5-24xla-lcc-contain-4c727d0847d,9836.424,2023-07-31 07:00:00

In [22]:
df_out = df_out.reset_index(drop=True)

In [23]:
df_out.head(10)

,account_id,user_profile_name,instance,dias_ligadas,app_raw,custo ($),date
0,503466128614,usuario1,ml-m5-24xl,264,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-27 07:00:00
1,503466128614,usuario1,ml-m5-24xl,267,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,55839.168,2023-07-31 07:00:00
2,503466128613,usuario2,ml-m5-16xl,331,ml-m5-4xla-contain-5fc727d0847d,46671.000,2023-07-27 07:00:00
3,503466128614,usuario3,ml-m5-4xla,299,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-27 07:00:00
4,503466128614,usuario3,ml-m5-4xla,304,ml-m5-4xla-lcc-contain-78ghy7d0847d,12400.128,2023-07-31 07:00:00
5,503466128614,usuario4,ml-m5-4xlarge,279,mlops-ubunt-ml-m5-24xl-lcc-contain-4c727d0847d,9836.424,2023-07-27 07:00:00
6,503466128614,usuario7,ml-m5-4xlargea,13,mlops-ubunt-ml-m5-24xla-lcc-contain-4c727d0847d,9836.424,2023-07-31 07:00:00